astroid
asynctest
coverage
docutils
flake8
freezegun
hypothesis
mock
path.py
pep8
pre-commit
pyfakefs
pylint
pytest
pytest-asyncio
requirements-tools
Sphinx
sphinx-rtd-theme
zake
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
